[Unit]
Description=Nautilus background instance

[Service]
ExecStart=/home/mikied/.local/bin/nautilus --gapplication-service
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
